/PruebaConcepto/PruebaConcepto-ejb/target/
/PruebaConcepto/PruebaConcepto-web/target/
/PruebaConcepto/PruebaConcepto-ear/target/
/PruebaConexia/PruebaConexia-ejb/target/
/PruebaConexia/PruebaConexia-web/target/
/PruebaConexia/PruebaConexia-ear/target/
/LaMejorCocina/nbproject/private/
/LaMejorCocina/LaMejorCocina-war/nbproject/private/
/LaMejorCocina/LaMejorCocina-ejb/nbproject/private/
/LaMejorCocina/LaMejorCocina-ejb/build/
/LaMejorCocina/LaMejorCocina-ejb/dist/
/LaMejorCocina/LaMejorCocina-war/build/
/LaMejorCocina/build/
/LaMejorCocina/LaMejorCocina-war/dist/
/LaMejorCocina/dist/
/PruebaConexia/PruebaConexia-ejb/nbproject/